.header {
  position: relative;
  margin-block-end: s-space(10);

  @media md {
    background: red;
  }

  ._title {
    @s-font (title);
    line-height: normal;
    text-transform: uppercase;
    font-size: s-size(6);
  }

  ._version {
    font: s-font(code);
    color: s-color(current);
    font-size: s-size(3);
    line-height: normal;
    pointer-events: none;
    @s-transition (fast);

    @media cs-half-life {
      color: s-color(accent, --lightness 70 --spin 15);
    }
  }

  svg {
    width: 100%;
    height: auto;

    [fill='black'] {
      fill: s-color(accent);
    }
  }

  ._menu {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background: s-color(main, background);
    width: s-space(16);
    height: s-space(16);
    border: 1px solid s-color(accent);
  }

  ._logo {
    display: block;
    width: 60px;
    margin-bottom: s-space(4);
  }
}
