.header {
  position: relative;
  margin-block-end: s-space(10);

  .header_title {
    @s-font (title);
    line-height: normal;
    text-transform: uppercase;
    font-size: s-size(6);
  }

  .header_version {
    font: s-font(code);
    color: s-color(current);
    font-size: s-size(3);
    line-height: normal;
    pointer-events: none;
    @s-transition (fast);

    @media cs-half-life {
      color: s-color(accent, --lightness 70 --spin 15);
    }
  }

  svg {
    width: 100%;
    height: auto;

    [fill='black'] {
      fill: s-color(accent);
    }
  }

  .header_license {
    opacity: 0.8;
    display: inline-block;
    margin-block-start: s-space(1);
  }

  .header_menu {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background: s-color(main, background);
    width: s-space(16);
    height: s-space(16);
    border: 1px solid s-color(accent);
  }

  .header_logo {
    display: block;
    width: 60px;
    margin-bottom: s-space(4);
  }
}
