/* @mixin log {
  @container not style(--s-space-large: 100px) {
    background: red !important;
  }
} */

.header {
  position: relative;
  margin-block-end: s-space(10);

  ._title {
    font: s-font(title);
    letter-spacing: 0.1em;
    line-height: normal;
    text-transform: uppercase;
    font-size: s-size(6);
  }

  ._version {
    display: none;
    font: s-font(title);
    color: s-color(current);
    font-size: 20px;
    line-height: normal;
    pointer-events: none;
    position: absolute;
    right: s-space(12);
    top: 100px;
    @s-transition (fast);
  }

  svg {
    width: 100%;
    height: auto;

    [fill='black'] {
      fill: s-color(accent);
    }
  }

  ._menu {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background: s-color(main, background);
    width: s-space(16);
    height: s-space(16);
    border: 1px solid s-color(accent);
  }

  ._logo {
    display: block;
    width: 60px;
    margin-bottom: s-space(4);
  }
}
