.header {
  padding: s-space(50);
  padding-top: s-space(40);
  position: relative;

  ._title {
    font: s-font(title);
    color: s-color(current, --lighten 20);
    line-height: normal;
    text-transform: uppercase;
    font-size: calc(319px / var(--chars) * 2.5);

    @s-map-color (accent);
    @include lo-glow;
  }

  ._version {
    font: s-font(title);
    color: s-color(current);
    font-size: 20px;
    line-height: normal;
    pointer-events: none;
    position: absolute;
    right: s-space(50);
    top: 100px;
    @s-transition (fast);

    @s-map-color (complementary);
    @include lo-glow;
  }

  svg {
    [fill] {
      fill: s-color(accent, text);
    }
  }

  ._menu {
    position: absolute;
    top: 0;
    right: 100%;
    background: s-color(main, background);
    width: s-size(70);
    height: s-size(70);
    border: 1px solid s-color(accent);
  }

  ._logo {
    display: block;
    height: 60px;
    position: relative;
    margin-top: s-space(50);
  }

  .logo-lotsof-picto {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    opacity: 1;
    transform: translate(0, -30%) scale(1);

    [fill] {
      fill: s-color(current, --lighten 20);
    }

    @s-map-color (accent);
    @include lo-glow;
  }

  .logo-lotsof {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 1;
    transform: translateX(120%);
    @s-transition();

    [fill] {
      fill: white;
    }

    .scrolled & {
      @media mobile {
        opacity: 0;
      }
    }
  }

  .picto-new-n-tasty {
    width: 150px;
    position: absolute;
    top: s-space(65);
    right: s-space(50);

    [fill] {
      fill: s-color(current, --lighten 25);
    }

    @s-map-color (ternary);
    @include lo-glow;
  }
}
