.s-carpenter_canvas {
  width: 100vw;
  height: 100vh;

  body:has(.s-carpenter-cms_editor:hover) &,
  .-show-editor &,
  .-show-ui & {
    width: calc(100% - var(--s-carpenter-cms-editor-width));
  }
}
