@import './commandPanel.bare.css';
@import './commandPanel.advancedSelect.css';
@import './commandPanel.component.css';

.s-factory_command-panel {
  gap: s-space(md);
  padding: s-space(sm);
  background: s-color(main, background);
  box-shadow: var(--s-factory-depth);
  width: clamp(250px, 25%, 400px);
  @s-transition (fast);
  @s-radius;

  * {
    font-size: s-size(form) !important;
  }
}
