[submodule "packages/sugar"]
	path = packages/sugar
	url = git@github.com:lotsofdev/sugar.git
[submodule "packages/cli"]
	path = packages/cli
	url = git@github.com:lotsofdev/cli.git
[submodule "packages/components-test"]
	path = packages/components-test
	url = git@github.com:lotsofdev/components-test.git
[submodule "packages/components"]
	path = packages/components
	url = git@github.com:lotsofdev/components.git
[submodule "packages/sugarcss"]
	path = packages/sugarcss
	url = git@github.com:lotsofdev/sugarcss.git
[submodule "packages/website-sugarcss"]
	path = packages/website-sugarcss
	url = git@github.com:lotsofdev/website-sugarcss.git
[submodule "packages/docblock"]
	path = packages/docblock
	url = git@github.com:lotsofdev/docblock.git
[submodule "packages/docmap"]
	path = packages/docmap
	url = git@github.com:lotsofdev/docmap.git
[submodule "packages/advancedSelectElement"]
	path = packages/advancedSelectElement
	url = git@github.com:lotsofdev/advanced-select-element.git
[submodule "packages/litElement"]
	path = packages/litElement
	url = git@github.com:lotsofdev/lit-element.git
[submodule "packages/config"]
	path = packages/config
	url = git@github.com:lotsofdev/config.git
[submodule "packages/website-sugar"]
	path = packages/website-sugar
	url = git@github.com:lotsofdev/website-sugar.git
[submodule "packages/website-common"]
	path = packages/website-common
	url = git@github.com:lotsofdev/website-common.git
[submodule "packages/website"]
	path = packages/website
	url = git@github.com:lotsofdev/website.git
[submodule "packages/website-components"]
	path = packages/website-components
	url = git@github.com:lotsofdev/website-components.git
[submodule "packages/wordpress-playground"]
	path = packages/wordpress-playground
	url = git@github.com:lotsofdev/wordpress-playground.git
[submodule "packages/jsonSchemaForm"]
	path = packages/jsonSchemaForm
	url = git@github.com:lotsofdev/jsonSchemaForm.git
