@import './icon.element.bare.css';

.s-icon {
  [fill]:not([fill='none']) {
    fill: currentColor;
  }
  [stroke] {
    stroke: currentColor;
  }
  &.-fontawesome path {
    fill: currentColor;
  }
}
