s-fluid-menu {
  opacity: 0;
}

.s-fluid-menu {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  opacity: 1;
  /* top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; */

  * {
    max-height: 100%;
  }

  .s-fluid-menu_nav,
  .s-fluid-menu_list-item {
    display: flex;
    flex-direction: column;
  }

  .s-fluid-menu_link {
    display: block;
  }

  /* opened nav */
  .s-fluid-menu_link.-active ~ .s-fluid-menu_nav:not(:has(.-active)) {
  }

  /* hidded list items */
  li:not(:has(.-active)) {
  }

  /* displayed list items */
  &:not(:has(.-active)) > nav > ol > li,
  .-active ~ nav:not(:has(.-active)) > ol > li {
  }

  li > nav:not(:has(.-active)) {
    /* overflow-y: auto; */
  }
  /* li:has(.-active) {
    flex-grow: 0;

    > nav {
      flex-grow: 0;
    }
  } */
}
