.header {
  .header_logo {
    display: block;
    width: 200px;
  }

  .header_metas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: s-space(2);
  }

  .header_version {
    @s-font (code);
    color: s-color(main, text);
    text-align: right;
  }
}
