.s-factory_notifications {
  position: fixed;
  z-index: 500;
  top: var(--s-carpenter-side-padding);
  right: var(--s-carpenter-side-padding);

  .s-factory_notifications-list {
  }
  .s-factory_notifications-item {
  }
  .s-factory_notifications-item {
  }
}
