.search {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: s-size(search);

  ._input {
  }

  mark {
    background: s-color(accent, --alpha 0.4);
    color: s-color(current, foreground) !important;
  }

  ._item {
    display: flex;
    gap: s-space(2);
    align-items: center;
    width: 100%;
    height: 100px;
    @s-radius();
  }

  ._item-metas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: s-space(2);
    padding: s-space(10);
  }

  ._item-title {
    white-space: nowrap;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: s-rem(16px);
  }

  ._item-description {
    font: s-font(small);
    color: s-color(main, --lightness 60);
    font-size: s-rem(12px);
    white-space: nowrap;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ._item-platforms {
    padding: s-space(5);
    display: flex;
    gap: s-space(2);
    flex-shrink: 0;
  }
}

.lo-search.s-advanced-select {
  &.-filtered {
  }

  .s-advanced-select_keywords {
  }
  .s-advanced-select_keyword {
  }

  .s-advanced-select_before {
  }

  .s-advanced-select_after {
  }

  .s-advanced-select_dropdown {
    position: fixed;
    top: 80px;
    left: 50%;
    width: calc(100vw - 2 * s-space(4));
    max-width: 1900px;
    height: 40svh;
    translate: -50% 0;
    background: s-color(main, --lightness 15);
    border: s-color(accent, border);
    overflow: hidden;
    padding: s-space(5);
    box-shadow: var(--bb-depth-large);

    @s-radius;

    &:after {
      content: '';
      position: fixed;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(
        to bottom,
        s-color(main, --alpha 0),
        s-color(main, --lightness 15)
      );
    }
  }

  .s-advanced-select_items {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    @s-scrollbar (hide);
  }

  .s-advanced-select_group {
    &:not(:has(.s-advanced-select_item.-match)) {
      display: none;
    }
  }
  .s-advanced-select_group-label {
    /* display: none; */
    color: s-color(main, text, --alpha 0.4);
    background: s-color(main, --lightness 14);
    padding: s-space(2) s-space(4);
    font-size: s-rem(10px);
    text-transform: uppercase;
    margin-block: s-space(2);
  }
  .s-advanced-select_group-label-inner {
  }

  .s-advanced-select_group-items {
  }

  .s-advanced-select_group-items-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .s-advanced-select_item {
    padding: s-space(1) 0;
    font: s-font(code);
    display: none;
    background: s-color(main, surface, --lightness 20 --alpha 0);
    border: 1px solid s-color(accent, border, --alpha 0);
    @s-transition (fast);
    /* opacity: 0.6; */
    @s-radius();

    &.-match {
      display: flex;
      gap: 0;
    }

    &.-preselected {
      background: s-color(main, --lightness 20);
      opacity: 1;
    }
    &.-selected {
      opacity: 1;
    }

    &.-preselected,
    &.-selected {
      box-shadow: var(--bb-depth-small);
      color: s-color(accent);
      border: 1px solid s-color(accent, border);
    }
  }

  .s-advanced-select_highlight {
    color: s-color(current);
  }

  .s-advanced-select_loading {
  }
  .s-advanced-select_empty {
    padding-block: s-space(8);
  }

  .s-advanced-select_no-item {
  }

  &:not([interactive]) {
  }

  &.-inline {
  }

  &.-top {
  }

  &.-loading {
  }

  &.-empty {
  }
}
