@font-face {
  font-family: 'Newport';
  src: url('/fonts/newport-regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tahoma';
  src: url('/fonts/tahoma.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
