@import './typo.rhythm.css';

.typo-h1,
.typo-h2,
.typo-h3,
.typo-h4,
.typo-h5,
.typo-format h1,
.typo-format h2,
.typo-format h3,
.typo-format h4,
.typo-format h5 {
  font: s-font(title);
  line-height: 1.4em;
}

.typo-h1,
.typo-format h1 {
  font-size: s-size(h1);
  font-weight: 100 !important;
}

.typo-h2,
.typo-format h2 {
  font-size: s-size(h2);
}

.typo-h3,
.typo-format h3 {
  font-size: s-size(h3);
  color: s-color(accent);
}

.typo-p,
.typo-format p {
  font: s-font(default);
  font-size: s-size(body);
  letter-spacing: 0.05em;

  &:empty {
    display: none;
  }
}

.typo-lead,
.typo-lead > p,
.typo-format .typo-lead,
.typo-format .typo-lead p {
  font: s-font(lead);
  font-size: s-size(lead);
}

.typo-code,
.typo-format code {
  @include code;
}

.typo-a,
.typo-format a {
  color: s-color(accent);
}

.typo-strong,
.typo-format strong {
  font-weight: normal;
  color: s-color(accent);
}

.typo-em,
.typo-format em {
  font-weight: normal;
  color: s-color(accent);
}

.typo-ul,
.typo-format ul,
.typo-ol,
.typo-format ol {
  > li {
    position: relative;
    padding-left: s-space(8);
    margin-bottom: s-space(5);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      color: s-color(accent);
    }
  }
}
.typo-ul,
.typo-format ul {
  > li {
    &:before {
      content: '•';
    }
  }
}
.typo-ol,
.typo-format ol {
  > li {
    &:before {
      content: counter(item) '.';
      counter-increment: item;
    }
  }
}

.typo-code,
.typo-format code {
}

.typo-blockquote,
.typo-format blockquote {
  border-inline-start: 4px solid s-color(accent);
  background: s-color(main, background);
  padding-block: s-space(2);
  @s-radius();
}
