@mixin lo-platform {
  display: flex;
  align-items: center;
  gap: s-space(2);
  padding: s-space(1) s-space(2);
  text-transform: uppercase;
  border-radius: s-radius();

  &.-css {
    color: s-color(accent, --darken 30);
  }
  &.-js {
    color: s-color(accent, --darken 30);
  }
  &.-node {
    color: s-color(complementary, --darken 30);
  }
  &.-php {
    color: s-color(php, --darken 10);
  }
}
