.body {
  display: flex;
  flex-direction: column;
  width: 100%;

  .body_suptitle {
  }

  .body_title {
  }

  .body_subtitle {
  }

  .body_lead {
  }

  .body_text {
  }

  .body_buttons {
    display: flex;
  }

  .body_spacer {
    flex-grow: 1;
  }
}
