.websites {
  --websites-width: 500px;

  @media mobile {
    --websites-width: 300px;
  }
}

.websites {
  display: flex;
  flex-direction: column;
  gap: s-size(5);
  width: var(--websites-width);

  ._website {
    position: relative;
    @s-transition();
    perspective: 800px;

    &.-sugar {
      @s-map-color (complementary);
    }
    &.-sugarcss {
      @s-map-color (accent);
    }

    &:hover {
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid s-color(current, --alpha 0);
      pointer-events: none;
      background: s-color(accent, --alpha 0 --darken 100);
      transition: border 0.1s ease-out, scale 0.1s ease-out,
        background 0.2s ease-out;
      @include lo-glow;
    }
    &:before {
      transform: rotateY(calc(var(--mouse-x) * 5deg))
        rotateX(calc(var(--mouse-y) * -5deg));
    }
    &:after {
      transform: rotateY(calc(var(--mouse-x) * 30deg))
        rotateX(calc(var(--mouse-y) * -10deg))
        translateY(calc(var(--mouse-y) * 20px))
        translateX(calc(var(--mouse-x) * -20px));
    }
    &:hover:before {
      scale: 0.98;
    }
    &:hover:after {
      scale: 0.94 1.03;
      opacity: 0.4;
      background: s-color(accent, --alpha 0.1 --darken 100);
    }

    &:hover {
      scale: 1.02;
    }

    &:hover:after,
    &:hover:before {
      border: 1px solid s-color(current, --lighten 20);
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: s-size(30) s-size(40);
      @s-radius;
      @s-transition (fast);
    }
    &:hover a {
      /* padding-inline: s-size(30); */
    }
  }

  ._title {
    font: s-font(title);
    font-size: calc(var(--websites-width) / var(--chars) * 2);
    color: s-color(current, text);
    text-transform: uppercase;
    line-height: 0.9;
    @include lo-glow;
  }

  ._text {
    text-align: center;
  }
}
