.websites {
  width: 200px;

  .websites_website {
    margin-block-end: s-space(4);
    > a {
      display: block;
      border: 1px solid s-color(accent);
      color: s-color(accent, foreground);
      padding: s-space(3) s-space(4);
      text-align: center;
      text-transform: uppercase;
      @s-font (title);
      @s-transition;

      &:hover {
        background: s-color(accent);
      }
    }
  }

  .websites_title {
    letter-spacing: 0.1em;
  }

  .websites_text {
    display: none;
  }
}
