.websites {
  --websites-width: 500px;

  @media mobile {
    --websites-width: 300px;
  }
}

.websites {
  display: flex;
  flex-direction: column;
  gap: s-size(5);
  width: var(--websites-width);

  ._website {
    position: relative;
    @s-transition();

    &.-sugar {
      @s-map-color (complementary);
    }
    &.-sugarcss {
      @s-map-color (accent);
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid s-color(current, --alpha 0);
      pointer-events: none;
      @s-transition (slow);
      @include lo-glow;
    }
    &:hover:before {
      scale: 0.98;
    }
    &:hover:after {
      scale: 0.96 1.02;
      opacity: 0.4;
    }

    &:hover {
      scale: 1.02;
    }

    &:hover:after,
    &:hover:before {
      border: 1px solid s-color(current);
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: s-size(30) s-size(40);
      @s-radius;
      @s-transition (fast);
    }
    &:hover a {
      /* padding-inline: s-size(30); */
    }
  }

  ._title {
    font: s-font(title);
    font-size: calc(var(--websites-width) / var(--chars) * 2);
    color: s-color(current, text);
    text-transform: uppercase;
    line-height: 0.9;
    @include lo-glow;
  }

  ._text {
    text-align: center;
  }
}
