@keyframes welcome-logo-in {
  from {
    translate: 0 1em;
    rotate: -90deg;
    scale: 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    rotate: 0deg;
    scale: 1;
    opacity: 1;
  }
}

@keyframes welcome-logo-out {
  from {
    translate: 0 0;
    rotate: 0deg;
    scale: 1;
    opacity: 1;
  }
  to {
    translate: 1em 2em;
    rotate: 90deg;
    scale: 0;
    opacity: 0;
  }
}

@keyframes welcome-earth-in {
  from {
    translate: -50% calc(-50% + 50px);
    opacity: 0;
  }
  to {
    translate: -50% -50%;
    opacity: 0.3;
  }
}

.welcome {
  height: 90vh;
  max-height: s-rem(900px);
  position: relative;
  color: white;

  --glow-multiplier: 1;

  &.-exploded {
    --glow-multiplier: 3.5;
  }

  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 90%;
    translate: -50% -50%;
    opacity: 0;
    background-color: s-color(main, background, --lightness 10);
    background-image: url('/public/blackbyte-earth-bkg.jpg');
    background-position: bottom center;
    background-size: cover;
    pointer-events: none;
    filter: grayscale(100%);
    mix-blend-mode: lighten;
    mask-image: linear-gradient(
      to bottom,
      transparent 20%,
      white 80%,
      transparent 100%
    );
    animation: welcome-earth-in 2s ease-out forwards;
  }

  .welcome_header {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 300px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0);
  }

  .welcome_animation {
    font-size: 20px;
    width: 3em;
    height: 3em;
    position: absolute;
    top: 200px;
    left: 50%;
    translate: -50% -50%;
  }

  .welcome_title {
    @s-typo (h1);
    margin-block-end: s-space(5);
  }

  .welcome_description {
    font-size: s-rem(30px);
    line-height: 1.3;
    margin-block-end: s-space(10);
  }

  .welcome_actions {
    display: flex;
    align-items: center;
    gap: s-rem(20px);
    margin-block-end: s-space(10);

    a:has(svg) {
      font-size: s-rem(22px);
      @s-transition (fast);

      &:hover,
      &:focus {
        color: s-color(accent);
      }
    }
  }

  .welcome_install {
    background: s-color(main, surface, --lightness 20);
    border: 1px solid s-color(accent, border);
    padding: s-space(2) s-space(3);
    margin-block-end: s-space(10);
    user-select: all;
    @s-typo (code);
    @s-radius;
  }

  .welcome_made {
    opacity: 0.5;
    font-size: s-rem(12px);
    user-select: none;
  }

  .welcome_animation-picto-white {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    scale: 0;
    opacity: 0;
    rotate: 90deg;
    animation: welcome-logo-out 0.2s s-ease() forwards;
  }
  &.-exploded {
    .welcome_animation-picto-white {
      animation: welcome-logo-in 0.2s s-ease() forwards;
    }
  }

  .welcome_animation-picto {
    font-size: 20px;
    perspective: 700;
    position: absolute;
  }

  .blackbyte-picto {
    font-size: 20px;
    perspective: 700;
    position: absolute;
    top: 0;
    left: 0;
    translate: -50% -50%;
    pointer-events: none;

    &,
    * {
      transition:
        box-shadow 0.2s ease-in-out,
        filter 0.5s ease-in-out;
    }
  }
  &.-exploded {
    .welcome_picto {
      filter: blur(10px);
    }
  }

  .blackbyte-picto.-white {
    color: white;

    &,
    * {
      backface-visibility: hidden;
      box-shadow:
        0 0 calc(20px * var(--glow-multiplier)) 10px #fff,
        0 0 calc(100px * var(--glow-multiplier)) 40px
          s-color(complementary, --alpha 0.1),
        0 0 calc(50px * var(--glow-multiplier)) 20px s-color(accent);
    }
  }
  .blackbyte-picto.-black {
    color: black;
  }
}
