.s-factory-json-schema-form {
  padding: s-space(lg);

  .s-json-schema-form_inner {
    display: flex;
    flex-direction: column;
    gap: s-space(md);
  }

  .s-json-schema-form_header {
    user-select: none;
  }
  .s-json-schema-form_title {
    @s-typo (h1);
    margin-block-end: s-space(xs);
  }

  .s-json-schema-form_title-id {
    float: right;
    font-family: s-font-family(code);
    @s-map-color (complementary);
  }

  .s-json-schema-form_description {
    @s-typo (p);
  }

  .s-json-schema-form_values-object,
  .s-json-schema-form_values {
    &:has(.s-json-schema-form-stack-group-renderer.-open):before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: s-color(main, background, --lightness 98 --alpha 0.38);
      backdrop-filter: blur(5px);
      z-index: 1;
    }
    @media dark {
      &:has(.s-json-schema-form-stack-group-renderer.-open):before {
        background: s-color(main, background, --lightness 18 --alpha 0.38);
      }
    }
  }

  .s-json-schema-form_values-item {
    &:last-child {
      border-bottom: none;
    }
  }

  .s-json-schema-form_values-array {
    padding-block: s-space(sm);

    .s-json-schema-form_values-add {
      margin-block-start: s-space(md);
      width: 100%;
      text-align: center;
    }
  }
  .s-json-schema-form_values-array-item {
  }
  .s-json-schema-form_values-array-item-header {
    display: flex;
    position: relative;
    align-items: center;
    gap: s-space(sm);
  }
  .s-json-schema-form_values-array-item-index {
    color: s-color(accent);
    font-weight: bold;
    flex-grow: 1;
    @s-radius;
  }
  .s-json-schema-form_values-array-item-id {
    @s-map-color (complementary);
    font-family: s-font-family(code);
  }
  .s-json-schema-form_values-array-item-remove {
    @s-map-color (error);
  }

  .s-json-schema-form_groups {
    /* padding-block: s-space(md);
    padding-inline: s-space(md); */
    padding-block: s-space(md);
    display: flex;
    flex-direction: column;
    gap: s-space(md);
  }

  .s-json-schema-form_group {
    /* padding: s-space(md); */
    /* background: s-color(main, --lightness 96 --alpha 0.9); */
    /* backdrop-filter: blur(5px); */

    @media dark {
      /* background: s-color(main, --lightness 19); */
    }
  }

  .s-json-schema-form_group-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-block-end: s-space(md);

    /* &:after {
      content: '';
      top: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      translate: 0 -50%;
      background: s-color(complementary, surface);
      z-index: -1;
    }
    @media dark {
      &:after {
        background: s-color(complementary);
      }
    } */
  }
  .s-json-schema-form_group-title {
    color: s-color(accent);
    font-size: s-size(h4);
    font-weight: bold;

    /* background: s-color(complementary, surface); */
    /* padding: s-space(sm) s-space(md); */
    /* border-radius: 9999px; */
    /* color: s-color(complementary, foreground); */

    /* @media dark {
      background: s-color(complementary);
      color: s-color(complementary, --lightness 5);
    } */
  }

  .s-json-schema-form_group-description {
    font-size: s-rem(12px);
  }

  .s-json-schema-form_group-body {
  }

  .s-json-schema-form-stack-group-renderer {
    > *:first-child {
      box-shadow: var(--s-factory-depth);
      background: s-color(main, background, --lightness 98 --alpha 0.98);
      backdrop-filter: blur(5px);
      border: 1px solid s-color(main, border);
      padding: s-space(md);
      translate: calc(var(--s-factory-side-padding) * -1) 0;
      @s-transition (fast);
      @s-radius;

      @media dark {
        background: s-color(main, background, --lightness 16 --alpha 0.98);
      }
    }
    &.-open > *:first-child {
      translate: calc(var(--s-factory-side-padding) * -1)
        calc(var(--s-factory-side-padding) * -1);
    }
  }

  .s-json-schema-form_values-object-header {
    display: none;
  }
  .s-json-schema-form_group.-stack .s-json-schema-form_values-object-header {
    display: block !important;
  }

  .s-json-schema-form_values-object-title {
    color: s-color(accent);
    font-weight: bold;
  }
  .s-json-schema-form_values-object-description {
    font-size: s-size(small);
  }

  .s-json-schema-form_values-object-items {
    display: flex;
    flex-direction: column;
    gap: s-space(md);
    /* padding-block: s-space(md); */
    /* padding-inline: s-space(md); */
  }
  .s-json-schema-form_values-object-item {
  }
  .s-json-schema-form_values-object-item-header {
    display: flex;
    width: 100%;
    position: relative;

    /* &:after {
      content: '';
      top: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      translate: 0 -50%;
      background: s-color(accent, surface);
      z-index: -1;
    }
    @media dark {
      &:after {
        background: s-color(accent);
      }
    } */
  }
  .s-json-schema-form_values-object-item-title {
    font-weight: bold;
    color: s-color(accent);
  }

  .s-json-schema-form_values-object-item .s-json-schema-form_values-object-item,
  .s-json-schema-form_values-array-item .s-json-schema-form_values-array-item {
    &:hover,
    &:has(.s-json-schema-form_values-item:hover) {
      /* border-left: 1px solid s-color(accent, --alpha 1); */
    }
  }

  .s-json-schema-form_values-label {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
  }

  .s-json-schema-form_values-prop {
    font-size: s-size(form);
    flex-grow: 1;
    @s-typo (label);
    @s-transition (fast);
    user-select: none;
  }

  .s-json-schema-form_values-value {
    flex-grow: 1;
    justify-content: end;
    width: 65%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;

    .s-json-schema-form_values-select {
      width: 100%;
    }
    .s-json-schema-form_values-input {
      width: 100%;
    }
    .s-json-schema-form_values-checkbox {
    }

    .-number {
    }
    .-true {
    }
    .-false {
    }
    .-null {
    }
    .-undefined {
    }
  }

  .s-json-schema-form_values-label:hover + .s-json-schema-form_values-value,
  .s-json-schema-form_values-value:hover {
    input,
    select,
    textarea {
      /* border-color: s-color(accent, --alpha 0.4); */
    }
  }

  .s-json-schema-form_values-errors {
    display: none !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: s-space(sm);
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: stretch;
    margin-block-start: s-space(sm);
    background: s-color(error, --alpha 0.05);
    @s-radius;
  }
  .s-json-schema-form_values-error {
    display: block;
    width: 100%;
    flex-grow: 1;
    padding: s-space(sm);
    color: s-color(error, --alpha 0.5);
    font-size: s-size(form);
    @s-radius;
  }
}
