@import './card.bare.css';

.card {
  background-color: #fff;
  border-radius: s-radius();
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .card_figure {
    img,
    video {
      scale: 1;
      @s-transition (fast);
    }
  }
  &:hover,
  &:focus {
    .card_figure {
      img,
      video {
        scale: 1.05;
      }
    }
  }

  .card_body {
    padding: s-space(5);
  }
}
