.doc {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: s-space(10);

  @media md {
    grid-template-columns: 1fr;
  }

  .doc_nav {
    opacity: 0;
    translate: 0 10px 0;

    @media md {
      display: none;
    }

    .menu {
      max-height: 100svh;
      overflow-y: auto;
      position: sticky;
      top: 0;
      @s-scrollbar (1px, s-color(accent, --alpha .5), s-color(accent));
    }
  }
  &.-in-viewport .doc_nav {
    opacity: 1;
    translate: 0;
    @s-transition (slow, --delay 0.3s);
  }

  .doc_body {
    opacity: 0;
    translate: 0 10px 0;
  }
  &.-in-viewport .doc_body {
    opacity: 1;
    translate: 0;
    @s-transition (slow, --delay 0.3s);
  }
}
