.theme {
  position: fixed;
  z-index: 999;
  bottom: s-space(16);
  right: s-space(16);
  display: flex;
  flex-direction: column;

  @media xs {
    display: none;
  }

  ._theme {
    display: flex;
    width: 30px;
    user-select: none;
    margin-block-end: s-space(2);
    cursor: pointer;
    @s-transition();
    transition-delay: 0.2s !important;

    &:last-child {
      margin-block-end: 0;
    }

    &:hover {
      scale: 0.95;
    }
  }
  &:hover,
  &:focus-within {
    ._theme {
      width: 300px;
      transition-delay: 0s !important;
    }
  }

  ._theme {
    font-family: s-font-family(title);
  }

  ._default,
  ._foreground {
    flex-grow: 1;
    flex-shrink: 1;
    height: 1em;
    display: flex;
    gap: s-space(2);
    align-items: end;
    justify-content: end;
    padding: s-space(2);
    overflow: hidden;
    white-space: nowrap;
    @s-transition();
    transition-delay: 0s !important;
    @s-radius;

    ._label {
      opacity: 0;
      @s-transition (fast);
    }
  }
  &:hover,
  &:focus-within {
    ._default,
    ._foreground {
      height: 80px;
      transition-delay: 0.2s !important;
    }

    ._label {
      opacity: 1;
      transition-delay: 0.2s;
    }
  }

  ._default {
    background: s-color(main, background);
    color: s-color(main, text);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    ._accent {
      color: s-color(accent);
    }
  }

  ._foreground {
    background: s-color(accent);
    color: s-color(main, foreground);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    ._accent {
      color: s-color(accent, foreground);
    }
  }
}
