@import '@lotsof/sugarcss/src/css/sugarcss.css';

:root {
  --s-setting-mobile-first: false;

  --s-media-mobile: 0 768px;
  --s-media-tablet: 769px 1024px;
  --s-media-desktop: 1025px;
  --s-media-wide: 1440px;

  --s-layout-max-width: 1440px;
  --s-layout-side-padding: 20px;

  --s-color-main: #9e9161;
  --s-color-accent: #ffe03e;
  --s-color-complementary: #8054f9;
  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;

  --s-shade-text-main: --darken 15;
  --s-shade-text-complementary: --lighten 15;
  --s-shade-placeholder: --alpha 0.4;
  --s-shade-foreground: --lighten 50;
  --s-shade-background: --darken 50;
  --s-shade-surface: --lighten 40;
  --s-shade-surface-main: --lighten 49;
  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --lighten 40;
  --s-shade-active: --darken 10;

  --s-easing-linear: '1';
  --s-easing-in-sin: '1 - cos((t * pi) / 2)';
  --s-easing-out-sin: 'sin((t * pi) / 2)';
  --s-easing-in-out-sin: '((cos(pi * t) - 1) / 2) * -1';
  --s-easing-in-quad: 't * t';
  --s-easing-out-quad: 't * (2 - t)';
  --s-easing-in-cubic: '1 - pow(1 - t, 3)';
  --s-easing-out-cubic: '4 * t * t * t';
  --s-easing-in-quart: 'pow(t, 4)';
  --s-easing-out-quart: '1 - pow(1 - t, 4)';
  --s-easing-in-quint: 'pow(t, 5)';
  --s-easing-out-quint: '1 - pow(1 - t, 5)';
  --s-easing-in-expo: 'pow(2, 10 * (t - 1))';
  --s-easing-out-expo: '1 - pow(2, -10 * t)';

  --s-font-family-sans: 'Roboto', sans-serif;
  --s-font-family-serif: 'Merriweather', serif;
  --s-font-family-code: 'Monaco', sans-serif;
  --s-font-family-quote: 'Palatino', serif;

  --s-padding: 10px;

  --s-size-easing: out-sin;
  --s-size-min: 0;
  --s-size-max: 100px;

  --s-space-easing: out-sin;
  --s-space-min: 0;
  --s-space-max: 120px;
}

.s-container {
  /* @apply s-container; */
}

body {
  background: s-color(main, background);
  color: s-color(main, text);
  /* padding: s-scalable(var(--s-padding)); */

  /* @apply scrollbar; */

  /* s-scrollbar: hide; */
  /* @s-scrollbar hide; */
  /* @s-scrollbar 10px #f00 #0f0; */

  /* @s-scrollbar (hide); */
}
