:root {
  --s-media-mobile: 0 768px;
  --s-media-tablet: 769px, 1024px;
  --s-media-desktop: 1025px;

  --s-color-main: #808080;
  --s-color-accent: #ffbb00;
  --s-color-complementary: #8054f9;
  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;

  --s-shade-text-main: --darken 15;
  --s-shade-text-complementary: --lighten 15;
  --s-shade-placeholder: --alpha 0.4;
  --s-shade-foreground: --lighten 50;
  --s-shade-background: --lighten 50;
  --s-shade-surface: --lighten 40;
  --s-shade-surface-main: --lighten 49;
  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --lighten 40;
  --s-shade-active: --darken 10;

  --s-padding: 10px;
}

body {
  background: s-color(main, background);
  color: s-color(main, text);
  padding: s-scalable(--s-padding);

  @media dark {
    background: s-color(main, surface);
    color: s-color(main, text);
  }

  @media tablet {
    background: red;
  }

  .h1 {
    color: blue;
  }
}
