.blackbyte-picto {
  position: relative;
  width: 1em;
  height: 1em;
  background: currentColor;
  margin: 1em;
  color: white;

  div {
    perspective: 700;
    width: 1em;
    height: 1em;
    background: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
  }

  div:nth-child(1) {
    top: -1em;
    left: -1em;
  }
  div:nth-child(2) {
    top: -1em;
  }
  div:nth-child(3) {
    top: -1em;
    left: 1em;
  }
  div:nth-child(4) {
    left: 1em;
  }
  div:nth-child(5) {
    top: 1em;
    left: 1em;
  }
  div:nth-child(6) {
    top: 1em;
    left: 0;
  }
  div:nth-child(7) {
    top: 1em;
    left: -1em;
  }
}
