@import './componentsList.bare.css';

.s-factory_components-list {
  padding: s-space(md);

  .s-factory_components-list-item {
  }

  .s-factory_components-list-item {
    padding: s-space(sm) s-space(sm) s-space(sm) s-space(md);
    border-bottom: 1px solid s-color(main, border);
    @s-radius;

    &:last-child {
      border-bottom: none;
    }

    &.-active {
      background: s-color(accent, --alpha 0.1);
    }

    &:hover {
      background: s-color(accent, --alpha 0.05);
    }
  }

  .s-factory_components-list-item-name {
    text-transform: uppercase;
    font-size: s-size(menu);
    opacity: 0.5;
    @s-transition (fast);
  }
  .s-factory_components-list-item.-active {
    .s-factory_components-list-item-name {
      opacity: 1;
    }
  }

  .s-factory_components-list-item-engines {
    gap: s-space(sm);
  }

  .s-factory_components-list-item-engine {
    width: 30px;
    display: flex;
    aspect-ratio: 1;
    /* background: s-color(accent, foreground); */
    align-items: center;
    justify-content: center;
    @s-radius;
    @s-transition (fast);

    svg {
      opacity: 0.3;
    }
    svg [fill] {
      fill: s-color(accent, icon);
      @s-transition (fast);
    }
    &:hover {
      svg {
        opacity: 1;
      }
      svg [fill] {
        fill: s-color(accent, icon);
      }
    }
  }

  .s-factory_components-list-item.-active {
    .s-factory_components-list-item-name {
      font-weight: bold;
    }

    .s-factory_components-list-item-engine {
      &.-active {
        svg {
          opacity: 1;
        }
        svg [fill] {
          fill: s-color(accent);
        }
      }
    }
  }
}
