.tooltip {
  --tooltip-arrow-size: 6px;
  --tooltip-padding: s-space(2);
  --tooltip-background: s-color(current);
  --tooltip-color: s-color(current, foreground);

  @media theme-half-life {
    --tooltip-background: s-color(current, --lightness 20);
  }

  &.-hotkey {
  }
}
