:root {
  --bb-header-height: 80px;

  --bb-depth-small: 0px 0px 0px rgba(3, 7, 18, 0.02),
    0px 1px 1px rgba(3, 7, 18, 0.04), 0px 3px 3px rgba(3, 7, 18, 0.06),
    0px 5px 5px rgba(3, 7, 18, 0.08), 0px 8px 8px rgba(3, 7, 18, 0.1);
  --bb-depth-medium: 0px 1px 1px rgba(3, 7, 18, 0.02),
    0px 3px 3px rgba(3, 7, 18, 0.04), 0px 6px 6px rgba(3, 7, 18, 0.06),
    0px 10px 10px rgba(3, 7, 18, 0.08), 0px 16px 16px rgba(3, 7, 18, 0.1);
  --bb-depth-large: 0px 1px 1px rgba(3, 7, 18, 0.02),
    0px 5px 5px rgba(3, 7, 18, 0.04), 0px 12px 12px rgba(3, 7, 18, 0.06),
    0px 20px 20px rgba(3, 7, 18, 0.08), 0px 32px 32px rgba(3, 7, 18, 0.1);
}
