@import './editor.bare.css';
@import './editor.jsonSchemaForm.css';

.s-carpenter-cms.-lnf .s-carpenter-cms_editor {
  background: s-color(main, background);
  background: s-color(main, background, --lightness 98 --alpha 0.98);
  backdrop-filter: blur(5px);
  box-shadow: var(--s-carpenter-cms-depth);
  @s-radius;
  @s-transition();

  @media dark {
    background: s-color(main, background, --lightness 16 --alpha 0.98);
  }
}
