.s-carpenter_editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--s-carpenter-editor-width);
  translate: calc(100% + var(--s-carpenter-side-padding));

  &:hover {
    translate: 0;
  }

  .s-carpenter_editor-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    @s-scrollbar (hide);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 100px;
    height: 100%;
    background: transparent;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100px;
    height: 100%;
    background: transparent;
  }
}

.-show-editor .s-carpenter_editor,
.-show-ui .s-carpenter_editor {
  translate: 0;
}
