@import '../components/sugarcss/sugarcss.css';

body {
}

[class^='pad'] {
  background: red;
  margin-bottom: 10px;
  color: white;
}

.pad-10 {
  padding: s-space(10);
}
.pad-20 {
  padding: s-space(20);
}
.pad-30 {
  padding: s-space(30);
}
.pad-40 {
  padding: s-space(40);
}
.pad-50 {
  padding: s-space(50);
}
.pad-60 {
  padding: s-space(60);
}
.pad-70 {
  padding: s-space(70);
}
.pad-80 {
  padding: s-space(80);
}
.pad-90 {
  padding: s-space(90);
}
.pad-100 {
  padding: s-space(100);
}
