@import './hotkey.bare.css';

.hotkey {
  font: s-font(code);
  letter-spacing: 0.2em !important;
  padding: s-space(2) s-space(2);
  border-radius: s-radius();
  font-size: s-size(caption);
  text-transform: uppercase;
}
