.search {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: s-size(search);

  /* .-search-large & {
    background: s-color(main, background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: s-space(16);
  } */

  ._input {
    font: s-font(code);
  }

  mark {
    background: s-color(current);
    color: s-color(current, foreground) !important;
  }

  ._expand {
    position: absolute;
    top: 20px;
    right: s-space(6);
    width: 1em;
    height: 1em;
    line-height: 1;

    svg {
      opacity: 0.3;
      @s-transition (fast);

      [fill] {
        fill: s-color(current);

        @media theme-half-life {
          fill: s-color(current, --lightness 90);
        }
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  ._item {
    display: flex;
    gap: s-space(2);
    align-items: center;
    width: 100%;
    height: 40px;
  }

  ._title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ._platforms {
    display: flex;
    gap: s-space(2);
  }

  .-search-large & {
    ._dropdown {
      padding: 0 s-space(6);
    }

    ._items {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: masonry;
      gap: s-space(16);

      @media (max-width: 1900px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 1600px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    ._group-label {
      position: sticky;
      z-index: 999;
      top: 0;
    }
    ._group-items {
      position: relative;
      z-index: 0;
    }
  }
}

.lo-search.s-advanced-select {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;

  &.-filtered {
  }

  .s-advanced-select_keywords {
  }
  .s-advanced-select_keyword {
  }

  .s-advanced-select_before {
  }

  .s-advanced-select_after {
  }

  .s-advanced-select_dropdown {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: auto;
    @include lo-scrollbar;
  }

  .s-advanced-select_items {
    @media tablet {
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: s-color(accent, --darken 40);
    }
    &::-webkit-scrollbar-thumb {
      background-color: s-color(accent);
    }
  }

  .s-advanced-select_group {
    padding: s-space(8) 0;
  }
  .s-advanced-select_group-label {
    margin-bottom: s-space(5);
    font: s-font(title);
    font-size: s-size(4);
    font-weight: normal;
    color: s-color(accent, --alpha 0.6);
    text-transform: uppercase;
    padding-block: s-space(8) s-space(4);
  }
  .s-advanced-select_group-label-inner {
  }

  .s-advanced-select_group-items {
  }

  .s-advanced-select_group-items-inner {
  }

  .s-advanced-select_item {
    padding: s-space(1) 0;
    font: s-font(code);
    display: none;
    opacity: 0.6;
    @s-radius();

    &.-match {
      display: flex;
      gap: 0;
    }

    &.-preselected {
      opacity: 1;
    }
    &.-selected {
      opacity: 1;
    }

    &.-preselected,
    &.-selected {
      color: s-color(accent);
    }
  }

  .s-advanced-select_highlight {
    color: s-color(current);
  }

  .s-advanced-select_loading {
  }
  .s-advanced-select_empty {
    padding-block: s-space(8);
  }

  .s-advanced-select_no-item {
  }

  &:not([interactive]) {
  }

  &.-inline {
  }

  &.-top {
  }

  &.-loading {
  }

  &.-empty {
  }
}
