.search {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;

  ._scope {
    display: inline-block;
    width: 60px;
    /* text-align: right; */
    margin-inline-end: s-space(30);
  }

  mark {
    background: none;
  }

  ._name {
    flex: 1;
    font-weight: bold;
    margin-inline-end: s-space(30);
  }
  ._namespace {
    font: s-font(code);
    font-size: 12px;
    opacity: 0.5;
  }

  ._platform {
    margin-inline-end: s-space(10);
  }
  .s-advanced-select_item:hover,
  .s-advanced-select_item.-preselected {
  }

  ._input {
    background: s-color(main, --darken 42);
    padding: s-space(30) s-space(50);
    width: 100%;
    outline: none;
    font: s-font(code);
    border-block: 1px solid s-color(accent, --alpha 0.1);
  }
}

.lo-search.s-advanced-select {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;

  &.-filtered {
  }

  .s-advanced-select_keywords {
  }
  .s-advanced-select_keyword {
  }

  .s-advanced-select_before {
  }

  .s-advanced-select_after {
  }

  .s-advanced-select_dropdown {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: auto;
    @include lo-scrollbar;
  }

  .s-advanced-select_items {
    @media tablet {
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: s-color(accent, --darken 40);
    }
    &::-webkit-scrollbar-thumb {
      background-color: s-color(accent);
    }
  }

  .s-advanced-select_group {
    padding: s-space(50);
    border: 1px solid s-color(accent, --alpha 0.05);
  }
  .s-advanced-select_group-label {
    padding: s-space(5) s-space(10);
    margin-bottom: s-space(20);
    font: s-font(title);
    font-size: 32px;
    color: s-color(current, text);
    font-weight: normal;
    text-transform: uppercase;

    @s-map-color (accent);
    @include lo-glow;
  }

  .s-advanced-select_group-items {
  }

  .s-advanced-select_group-items-inner {
  }

  .s-advanced-select_item {
    padding: s-space(5) s-space(10);
    font: s-font(code);
    border: 2px solid s-color(current, --alpha 0);
    color: s-color(current, --lighten 50);
    display: none;
    @s-radius();

    &.-match {
      display: flex;
    }

    &.-preselected {
      color: s-color(current, --lighten 50) !important;
      border: 2px solid s-color(current);
      @include lo-glow;
    }
    &.-selected {
      color: s-color(complementary);
      @s-map-color (complementary);
    }

    @s-map-color (accent);
  }

  .s-advanced-select_highlight {
    color: s-color(current);
  }

  .s-advanced-select_loading {
  }
  .s-advanced-select_empty {
    padding: s-space(30 50);
  }

  .s-advanced-select_no-item {
  }

  &:not([interactive]) {
  }

  &.-inline {
  }

  &.-top {
  }

  &.-loading {
  }

  &.-empty {
  }
}
