.search {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;

  .-search-large & {
    background: s-color(main, background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  ._input {
    background: s-color(main, --darken 42);
    padding: s-space(30) s-space(50);
    width: 100%;
    outline: none;
    font: s-font(code);
    border-block: 1px solid s-color(accent, --alpha 0.1);
  }

  ._expand {
    position: absolute;
    top: 30px;
    right: s-size(30);
    width: 1em;
    height: 1em;
    line-height: 1;

    svg {
      opacity: 0.3;
      @s-transition (fast);

      [fill] {
        fill: s-color(current);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  ._item {
    display: flex;
    gap: s-space(10);
    width: 100%;
  }

  ._title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ._platforms {
    display: flex;
    gap: s-space(10);
  }

  .-search-large & {
    ._items {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: masonry;

      @media (max-width: 1900px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 1600px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    ._group-label {
      position: sticky;
      z-index: 999;
      top: 0;
      background: s-color(main, background);
    }
    ._group-items {
      position: relative;
      z-index: 0;
    }
  }
}

.lo-search.s-advanced-select {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;

  &.-filtered {
  }

  .s-advanced-select_keywords {
  }
  .s-advanced-select_keyword {
  }

  .s-advanced-select_before {
  }

  .s-advanced-select_after {
  }

  .s-advanced-select_dropdown {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: auto;
    @include lo-scrollbar;
  }

  .s-advanced-select_items {
    @media tablet {
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: s-color(accent, --darken 40);
    }
    &::-webkit-scrollbar-thumb {
      background-color: s-color(accent);
    }
  }

  .s-advanced-select_group {
    padding: s-space(50);
    border: 1px solid s-color(accent, --alpha 0.05);
  }
  .s-advanced-select_group-label {
    padding: s-space(5) s-space(10);
    margin-bottom: s-space(20);
    font: s-font(title);
    font-size: 32px;
    color: s-color(current, text);
    font-weight: normal;
    text-transform: uppercase;

    @s-map-color (accent);
  }
  .s-advanced-select_group-label-inner {
    @include lo-glow;
  }

  .s-advanced-select_group-items {
  }

  .s-advanced-select_group-items-inner {
  }

  .s-advanced-select_item {
    padding: s-space(5) s-space(10);
    font: s-font(code);
    border: 2px solid s-color(current, --alpha 0);
    color: s-color(current, --lighten 50);
    display: none;
    @s-radius();

    &.-match {
      display: flex;
    }

    &.-preselected {
      color: s-color(current, --lighten 50) !important;
      border: 2px solid s-color(current);
      @include lo-glow;
    }
    &.-selected {
      color: s-color(complementary);
      @s-map-color (complementary);
    }

    &.-preselected,
    &.-selected {
      .platform {
        background: none !important;
        @include lo-glow;
      }
    }

    @s-map-color (accent);
  }

  .s-advanced-select_highlight {
    color: s-color(current);
  }

  .s-advanced-select_loading {
  }
  .s-advanced-select_empty {
    padding: s-space(30 50);
  }

  .s-advanced-select_no-item {
  }

  &:not([interactive]) {
  }

  &.-inline {
  }

  &.-top {
  }

  &.-loading {
  }

  &.-empty {
  }
}
