.markdown {
  padding-block: s-space(10);

  @media sm {
    padding-block: s-space(16);
    padding-inline: s-space(5);
  }

  .docmap-mdx {
    display: flex;
    flex-direction: column;
    gap: s-space(10);
  }

  ._description {
  }

  ._namespace {
    position: relative;
    padding: s-space(5);
    background: s-color(main, surface);
    color: s-color(accent);
    user-select: all;
    font-size: s-size(code);
    @s-font (code);
    @s-radius;

    @media cs-half-life {
      color: s-color(accent);
    }
    @media cs-oddworld {
      color: s-color(accent);
    }
  }

  ._metas {
    display: flex;
    gap: s-space(5);

    @media xs {
      flex-direction: column;
    }
  }

  ._type {
    display: flex;
    align-items: center;
    gap: s-space(2);
  }
  ._type-label {
    @media xs {
      flex: 1;
    }
  }
  ._type-value {
    background: s-color(accent);
    font-size: s-size(caption);
    letter-spacing: 0.1em;
    color: s-color(accent, foreground);
    padding: s-space(1) s-space(3);
    text-transform: uppercase;
    user-select: all;
    @s-radius();
  }

  ._status {
    display: flex;
    align-items: center;
    gap: s-space(2);
  }
  ._status-label {
    @media xs {
      flex: 1;
    }
  }
  ._status-value {
    background: s-color(complementary);
    font-size: s-size(caption);
    color: s-color(complementary, --lightness 20);
    letter-spacing: 0.1em;
    padding: s-space(1) s-space(3);
    text-transform: uppercase;
    user-select: all;
    @s-radius();

    &.-beta {
      color: s-color(error, --lighten 30);
      background: s-color(error, --darken 20);
    }

    @media cs-oddworld {
    }
  }

  ._since {
    display: flex;
    align-items: center;
    gap: s-space(2);
  }
  ._since-label {
    @media xs {
      flex: 1;
    }
  }
  ._since-value {
    background: s-color(main, surface);
    font-size: s-size(caption);
    letter-spacing: 0.1em;
    color: s-color(main, text);
    padding: s-space(1) s-space(3);
    text-transform: uppercase;
    user-select: all;
    @s-radius();
  }

  ._platform {
    display: flex;
    align-items: center;
    gap: s-space(2);
  }
  ._platform-label {
    @media xs {
      flex: 1;
    }
  }
  ._platform-value {
    background: s-color(main, surface);
    font-size: s-size(caption);
    letter-spacing: 0.1em;
    color: s-color(main, text);
    padding: s-space(1) s-space(3);
    text-transform: uppercase;
    user-select: all;
    @s-radius();
  }

  ._params,
  ._return,
  ._settings {
    ._list {
      margin-top: s-space(5);
      margin-bottom: 0 !important;

      @media xs {
        margin-top: s-space(2);
      }
    }

    ._item {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      &:before {
        display: none;
      }

      > *:empty {
        display: none;
      }

      @media xs {
        flex-direction: column;
      }
    }

    ._name {
      flex-grow: 1;
      background: s-color(main, surface);
      padding: s-space(5);
      border-top-left-radius: s-radius();
      border-bottom-left-radius: s-radius();

      @media xs {
        border-top-left-radius: s-radius();
        border-top-right-radius: s-radius();
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;

        &:before {
          content: 'Name';
          @s-font (default);
          flex-grow: 1;
        }
      }
    }

    ._description {
      width: 100%;
      padding: s-space(5);
      margin: 0 !important;
    }
  }

  ._return {
    ._item:before {
      content: '';
      display: block;
      flex-grow: 1;
    }

    ._default {
      border-top-left-radius: s-radius();
      border-bottom-left-radius: s-radius();
      display: flex !important;
      flex-grow: 1;

      @media xs {
        border-top-left-radius: s-radius();
        border-top-right-radius: s-radius();
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  ._required {
    color: s-color(error);
  }

  ._default {
    color: s-color(accent);
    background: s-color(main, surface);
    padding: s-space(5);
    font: s-font(code);

    @media xs {
      display: flex;

      &:before {
        color: s-color(main, text);
        content: 'Default';
        @s-font (default);
        flex-grow: 1;
      }
    }
  }

  ._settings,
  ._params,
  ._return {
    ._type {
      color: s-color(complementary);
      background: s-color(main, surface);
      padding: s-space(5);
      font: s-font(code);
      border-top-right-radius: s-radius();
      border-bottom-right-radius: s-radius();

      @media xs {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: s-radius();
        border-bottom-right-radius: s-radius();
        display: flex;

        &:before {
          color: s-color(main, text);
          content: 'Type';
          @s-font (default);
          flex-grow: 1;
        }
      }

      @media cs-half-life {
        color: s-color(accent);
      }
      @media cs-oddworld {
        color: s-color(accent);
      }
    }
  }

  ._todo {
    ._list {
      display: flex;
      flex-direction: column;
      gap: s-space(2);
    }
    ._item {
      display: flex;
      align-items: center;
      gap: s-space(5);
      padding: 0;

      &:before {
        display: none;
      }
    }
    ._description {
      margin: 0;
    }
    ._priority {
      order: -1;
      padding: s-space(1) s-space(2);
      text-align: center;
      letter-spacing: 0.1em;
      font-size: 12px;
      text-transform: uppercase;
      @s-radius;

      &.-low {
        background: s-color(success);
        color: s-color(success, foreground);
      }
      &.-normal {
        background: s-color(accent);
        color: s-color(accent, foreground);
      }
      &.-high {
        background: s-color(error);
        color: s-color(error, foreground);
      }
    }
  }

  ._author {
    display: none;
  }

  ._author,
  ._contributors {
    ._item {
      background: s-color(main, background);
      padding: s-space(5);
      display: flex;
      gap: s-space(5);
      font: s-font(code);
      border-radius: s-radius();
      margin: 0;

      @media xs {
        flex-direction: column;
        gap: s-space(2);
      }

      &::before {
        display: none;
      }
    }

    ._name {
    }
    ._email {
      flex-grow: 1;
    }
  }
}
