s-code {
  > * {
    opacity: 0;
  }

  &.-ready > * {
    opacity: 1;
  }
}

.s-code {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .s-code_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .s-code_header {
    display: flex;
  }

  .s-code_metas {
    display: flex;
    flex-grow: 1;
  }

  .s-code_language {
  }

  .s-code_tools {
  }

  .s-code_copy {
    @s-transition (fast);
  }

  .s-code_copy-text {
  }

  .s-code_code {
  }

  .s-code_footer {
  }

  .s-code_code {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &,
    * {
      user-select: text !important;
    }
  }

  code,
  .shiki {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
