@import './modal.bare.css';

@keyframes modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  .modal_backdrop {
    opacity: 0;
    background: s-color(main, background, --alpha 0.2);
    backdrop-filter: blur(10px);
    @s-transition (fast);
  }

  &.-open {
    .modal_backdrop {
      opacity: 1;
      transition-delay: 0 !important;
    }
  }

  .modal_content {
    padding: s-rem(20px);
    background: white;
    max-width: s-rem(800px);
    opacity: 0;
    translate: -50% calc(-50% + s-rem(20px));
    @s-transition (fast);
    @s-container;
    @s-radius;
  }

  &.-open {
    .modal_content {
      opacity: 1;
      translate: -50% -50%;
      transition-delay: 0.2s !important;
    }
  }
}

[type='carpenter/component']:has(.modal) {
  @s-container;
  height: 400px;
  background: s-color(white, --lightness 98);

  &:before {
    content: 'modal';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
