@import '@lotsof/sugarcss/src/css/sugarcss.css';

:root {
  --s-setting-verbose: false;
  --s-setting-mobile-first: false;

  --s-scrolled-classes-class: scrolled;
  --s-scrolled-classes-offset: 50;

  --s-media-mobile: 0 768px;
  --s-media-tablet: 769px 1024px;
  --s-media-desktop: 1025px;
  --s-media-wide: 1440px;

  --s-media-xs: 0 474px;
  --s-media-sm: 475px 639px;
  --s-media-md: 640px 767px;
  --s-media-lg: 768px 1023px;
  --s-media-xl: 1024px 1279px;
  --s-media-xxl: 1280px;

  --s-container-default: 320px 900px 20px;

  --s-grid-default: '1 1 2 _ 3 4 4 _ 3 5 5' 20px;

  --s-color-main: #4b423c;
  --s-color-accent: #ff862c;
  --s-color-complementary: #00ffcc;
  --s-color-ternary: #ff862c;
  --s-color-current: #ff862c;
  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;
  --s-color-php: #777cb5;

  --s-shade-text: --lighten 20;
  --s-shade-text-main: --lighten 35;
  --s-shade-placeholder: --alpha 0.2;
  --s-shade-foreground: --darken 0;
  --s-shade-background: --lighten 100;
  --s-shade-surface: --darken 40;
  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --lighten 40;
  --s-shade-active: --darken 10;

  --s-ease-default: cubic-bezier(0.745, 0, 0.18, 1);

  --s-transition-slow: all 0.3s s-ease();
  --s-transition-default: all 0.2s s-ease();
  --s-transition-fast: all 0.1s s-ease();

  --s-sizes: 0 80px linear;
  --s-spaces: 0 80px linear;

  --s-size-small: 10px;
  --s-size-large: 100px;

  --s-space-05: 2px;
  --s-space-1: 4px;
  --s-space-2: 8px;
  --s-space-3: 12px;
  --s-space-4: 16px;
  --s-space-5: 20px;
  --s-space-6: 24px;
  --s-space-7: 28px;
  --s-space-8: 32px;
  --s-space-10: 40px;
  --s-space-12: 48px;
  --s-space-16: 64px;
  --s-space-20: 80px;
  --s-space-24: 96px;
  --s-space-28: 112px;
  --s-space-32: 128px;
  --s-space-40: 160px;
  --s-space-48: 192px;
  --s-space-56: 224px;
  --s-space-64: 256px;
  --s-space-72: 288px;
  --s-space-80: 320px;
  --s-space-88: 352px;
  --s-space-96: 384px;

  --s-size-05: 2px;
  --s-size-1: 4px;
  --s-size-2: 8px;
  --s-size-3: 12px;
  --s-size-4: 16px;
  --s-size-5: 20px;
  --s-size-6: 24px;
  --s-size-7: 28px;
  --s-size-8: 32px;
  --s-size-10: 40px;
  --s-size-12: 48px;
  --s-size-16: 64px;
  --s-size-20: 80px;
  --s-size-24: 96px;
  --s-size-28: 112px;
  --s-size-32: 128px;
  --s-size-40: 160px;
  --s-size-48: 192px;
  --s-size-56: 224px;
  --s-size-64: 256px;
  --s-size-72: 288px;
  --s-size-80: 320px;
  --s-size-88: 352px;
  --s-size-96: 384px;

  --s-size-h1: s-size(12);
  --s-size-h2: s-size(8);
  --s-size-h3: s-size(6);
  --s-size-h4: s-size(5);
  --s-size-h5: s-size(4);
  --s-size-h6: s-size(2);
  --s-size-lead: s-size(5);
  --s-size-body: s-size(4);
  --s-size-button: s-size(2);
  --s-size-caption: s-size(3);
  --s-size-code: s-size(3);
  --s-size-quote: s-size(6);
  --s-size-tooltip: s-size(3);
  --s-size-search: s-size(3);

  @media tablet {
    --s-size-h1: s-size(16);
    --s-size-h2: s-size(01);
    --s-size-h3: s-size(12);
    --s-size-h4: s-size(8);
    --s-size-h5: s-size(6);
    --s-size-h6: s-size(5);
    --s-size-lead: s-size(6);
    --s-size-body: s-size(4);
    --s-size-button: s-size(4);
    --s-size-caption: s-size(3);
    --s-size-code: s-size(2);
    --s-size-quote: s-size(6);
    --s-size-tooltip: s-size(4);
  }

  --s-font-family-sans: 'Poppins', sans-serif;
  --s-font-family-serif: 'Merriweather', serif;
  --s-font-family-code: 'Monaco', sans-serif;
  --s-font-family-quote: 'Palatino', serif;

  --s-font-default: s-font(sans) 100;
  --s-font-lead: s-font-family(sans) 100;
  --s-font-title: s-font(sans) 100;
  --s-font-code: s-font-family(code) 300;

  --s-radius-default: 0px;

  [color-schema='dark'] {
    --s-radius-default: 10px;

    --s-shade-background: --darken 20;
  }
}

::selection {
  color: s-color(accent, --lighten 50);
  background: s-color(accent, --darken 10);
}

@include s-destyle;
