@import '@blackbyte/website-common/src/components/sugarcss/sugarcss.css';

.theme-light {
  --s-color-main: #4b423c;
  --s-color-accent: #ff862c;
  --s-color-complementary: #00ffcc;
  --s-color-current: #ff862c;

  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;
  --s-color-php: #777cb5;

  --s-shade-text: --lightness 50;

  --s-shade-foreground: --lightness 98;
  --s-shade-foreground-accent: --lightness 20;

  --s-shade-background: --lightness 100;

  --s-shade-surface: --lightness 98;

  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --darken 40;
  --s-shade-focus: --darken 10;

  --s-shade-form-text: --lightness 50;
  --s-shade-form-placeholder: --alpha 0.7;
  --s-shade-form-background: --lightness 98;
  --s-shade-form-border: --alpha 0.2;
  --s-shade-form-border-focus: --alpha 0.5;

  --s-shade-platform: --lightness 70;
}

.theme-dark {
  --s-color-main: #4b423c;
  --s-color-accent: #ff862c;
  --s-color-complementary: #00ffcc;
  --s-color-current: #ff862c;

  --s-shade-text: --lightness 80;
  --s-shade-text-accent: --lightness 50;

  --s-shade-background: --lightness 17;

  --s-shade-foreground-accent: --lightness 20;

  --s-shade-surface: --lightness 19;

  --s-shade-form-text: --lightness 90;
  --s-shade-form-background: --lightness 21;
  --s-shade-form-border: --alpha 0.2;
  --s-shade-form-border-focus: --alpha 0.3;

  --s-shade-platform: --lightness 50;
}

.theme-half-life {
  --s-color-main: #ff862c;
  --s-color-accent: #562805;
  --s-color-complementary: #ff862c;

  --s-shade-text: --lightness 100;

  --s-shade-background: --lightness 60;

  --s-shade-foreground-accent: --lightness 50;

  --s-shade-surface: --lightness 63;

  --s-shade-form-text: --lightness 90;
  --s-shade-form-placeholder: --lightness 90;
  --s-shade-form-background: --lightness 63;
  --s-shade-form-border: --lightness 60 --alpha 0.4 --spin 15;
  --s-shade-form-border-focus: --lightness 60 --alpha 1 --spin 15;

  --s-shade-platform: --lightness 10;

  --s-font-family-title: 'Tahoma', sans-serif;
}
