@import './body.bare.css';

.body {
  .body_suptitle {
  }

  .body_title {
  }

  .body_subtitle {
  }

  .body_lead {
  }

  .body_text {
  }

  .body_buttons {
    gap: s-space(2);
  }

  .body_spacer {
  }
}
