body:has(.s-carpenter),
.s-carpenter-daemon {
  .errors {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: s-space(sm);
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: stretch;
    margin-block-start: s-space(sm);
    background: s-color(error, --alpha 0.1);
    @s-radius;
  }
  .error {
    display: block;
    width: 100%;
    flex-grow: 1;
    padding: s-space(sm) s-space(md);
    color: s-color(error, --alpha 0.5);
    font-size: s-size(error);
    @s-radius;
  }
}
