@mixin code {
  font: s-font(code);
  font-size: s-size(code);
  background: s-color(main, surface) !important;
  letter-spacing: 0.1em;
  @include lo-scrollbar;
  @s-radius;

  & > code {
    display: flex;
    flex-direction: column;
    gap: s-space(2);
    padding: s-space(10);
  }

  .line:last-child:empty {
    display: none;
  }

  .line {
    height: 1.5em;
  }

  /* selectors (class) */
  [style*='#B392F0'] {
    @media cs-half-life {
      color: s-color(main, --lightness 20) !important;
    }
  }

  /* selectors (tag) */
  [style*='#85E89D'] {
    @media cs-half-life {
      color: s-color(main, --lightness 20) !important;
    }
    /* color: s-color(main, --darken 40) !important; */
  }

  /* variables */
  [style*='#FFAB70'] {
    @media cs-half-life {
      color: s-color(accent) !important;
    }
  }

  /* comments */
  [style*='#6A737D'] {
    @media cs-half-life {
      color: s-color(main, --lightness 100 --alpha 0.6) !important;
    }
    @media cs-dark {
      color: s-color(main, --lightness 60) !important;
    }
  }

  /* ponctuation */
  [style*='#E1E4E8'] {
    color: s-color(main) !important;

    @media cs-half-life {
      color: s-color(main, --lightness 20) !important;
    }
  }

  /* @ */
  [style*='#E1E4E8'] {
    @media cs-dark {
      color: s-color(complementary, --lightness 45) !important;
    }
  }

  /* numbers / mixins */
  [style*='#79B8FF'] {
    @media cs-half-life {
      color: s-color(complementary, --lightness 40) !important;
    }
  }

  /* values */
  [style*='#9ECBFF'] {
    @media cs-half-life {
      color: s-color(complementary, --lightness 20) !important;
    }
  }

  /* strings */
  [style*='#FDAEB7'] {
    @media cs-half-life {
      color: s-color(main, --lightness 30) !important;
    }
  }

  /* units / @media */
  [style*='#F97583'] {
    @media cs-half-life {
      color: s-color(complementary, --lightness 45) !important;
    }
  }

  [style*='#31748F'] {
    color: s-color(complementary) !important;
  }

  @s-scrollbar (2px, s-color(main, --alpha 0.2), s-color(main, --darken 40));
}
