.main {
  .main_illustration {
    opacity: 0;
    translate: 20px 0;
    position: absolute;
    bottom: 0;
    right: s-space(2);
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    pointer-events: none;
    @s-transition;

    @media (max-width: 1600px) {
      width: 500px;
      height: 500px;
    }
    @media (max-width: 1400px) {
      width: 400px;
      height: 400px;
    }
    @media (max-width: 1200px) {
      opacity: 0 !important;
    }

    @media xs {
      display: none;
    }

    @media cs-half-life {
      background-image: url('/lotsof-gordon-freeman.webp');
      opacity: 1;
      translate: 0;
    }
  }
}
