@import '@lotsof/website-common/src/components/sugarcss/sugarcss.css';

.cs-light {
  --s-color-main: #3c444b;
  --s-color-accent: #2ca0ff;
  --s-color-complementary: #00ffcc;
  --s-color-current: #2ca0ff;

  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;
  --s-color-php: #777cb5;

  --s-shade-text: --lightness 50;

  --s-shade-foreground: --lightness 20;
  --s-shade-foreground-accent: --lightness 90;

  --s-shade-background: --lightness 100;

  --s-shade-surface: --lightness 98;

  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --darken 40;
  --s-shade-focus: --darken 10;

  --s-shade-form-text: --lightness 50;
  --s-shade-form-placeholder: --alpha 0.7;
  --s-shade-form-background: --lightness 98;
  --s-shade-form-border: --alpha 0.2;
  --s-shade-form-border-focus: --alpha 0.5;

  --s-shade-platform: --lightness 70;

  --s-font-family-title: 'Poppins', sans-serif;
}

.cs-dark {
  --s-color-main: #3c444b;
  --s-color-accent: #2ca0ff;
  --s-color-complementary: #00ffcc;
  --s-color-current: #2ca0ff;

  --s-shade-text: --lightness 80;
  --s-shade-text-accent: --lightness 50;

  --s-shade-background: --lightness 17;

  --s-shade-foreground: --lightness 10;
  --s-shade-foreground-accent: --lightness 10;

  --s-shade-surface: --lightness 19;

  --s-shade-form-text: --lightness 90;
  --s-shade-form-background: --lightness 21;
  --s-shade-form-border: --alpha 0.2;
  --s-shade-form-border-focus: --alpha 0.3;

  --s-shade-platform: --lightness 50;

  --s-font-family-title: 'Poppins', sans-serif;
}

.cs-oddworld {
  --s-color-main: #523f3a;
  --s-color-accent: #d1ae5c;
  --s-color-complementary: #41ed8f;
  --s-color-current: #d1ae5c;

  --s-shade-text: --lightness 90;

  --s-shade-background: --lightness 17;

  --s-shade-foreground-accent: --lightness 20;

  --s-shade-surface: --lightness 19;

  --s-shade-placeholder: --lightness 90;

  --s-shade-platform: --lightness 80;

  --s-shade-form-background: --lightness 23;
  --s-shade-form-text: --lightness 90;
  --s-shade-form-border: --lightness 40 --alpha 0.4 --spin 15;
  --s-shade-form-border-focus: --lightness 40 --alpha 1 --spin 15;

  --s-font-family-title: 'Newport', sans-serif;
}
