@import './main.settings.css';

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .main_inner {
    display: flex;
  }

  .main_nav-toggle {
    position: absolute !important;
    z-index: 999 !important;
    top: s-space(8);
    left: calc(100% + s-space(8));
    display: none;

    @media sm {
      display: block;
    }
  }

  .main_nav-toggle-inner {
    font-size: 30px;
    @include s-menu;
  }

  .main_nav {
    background: s-color(main, background);
    position: relative;
    z-index: 100;
    width: var(--main-nav-width);
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
    padding: var(--main-nav-padding);
    @s-transition();
    @include lo-scrollbar;

    body.-search-large & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @media xl {
      padding: s-space(8);
    }

    @media sm {
      overflow-y: visible;
      overflow-x: visible;

      &:focus-within {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    &:focus-within {
      translate: 0 0;

      .main_nav-toggle-inner {
        @include s-menu-active;
      }
    }

    .header {
      flex-grow: 0;
      flex-shrink: 0;
    }
    .search {
      flex-grow: 0;
      flex-shrink: 1;
      overflow: hidden;
    }

    @media sm {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      translate: -100% 0;
    }
  }

  .main_body {
    position: absolute;
    z-index: 50;
    flex-grow: 1;
    top: 0;
    left: var(--main-nav-width);
    right: 0;
    padding: var(--main-nav-padding);
    height: 100vh;
    overflow-y: auto;
    @include lo-scrollbar;

    @media xl {
      padding: s-space(8);
    }

    @media sm {
      left: 0;
      padding: s-space(4);
    }
  }
  .main_body-inner {
    width: clamp(100px, calc(100% - 250px), 760px);

    @media xl {
      width: 100%;
    }
    @media xs {
      width: 100%;
    }
  }

  .main_illustration {
    opacity: 0;
    translate: 20px 0;
    position: absolute;
    bottom: 0;
    right: s-space(2);
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    pointer-events: none;
    @s-transition;

    @media (max-width: 1600px) {
      width: 500px;
      height: 500px;
    }

    @media xl {
      display: none;
    }

    @media theme-oddworld {
      background-image: url('/lotsof-oddworld-abe.webp');
      opacity: 1;
      translate: 0;
    }
    @media theme-half-life {
      background-image: url('/lotsof-gordon-freeman.webp');
      opacity: 1;
      translate: 0;
    }
  }
}
