.main {
  --main-nav-width: 400px;
  --main-nav-padding: s-space(16);

  @media xl {
    --main-nav-width: 400px;
  }

  @media (max-width: 1400px) {
    --main-nav-width: 300px;
    --main-nav-padding: s-space(8);
  }
}
