@import './main.settings.css';

/* @mixin log {
  gap: s-space(3) s-space(4);
} */

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .main_inner {
    display: flex;
  }

  .main_nav-toggle {
    position: absolute !important;
    z-index: 999 !important;
    top: s-space(8);
    left: calc(100% + s-space(8));
    display: none;

    @media sm {
      display: block;
    }
  }

  .main_nav-toggle-inner {
    font-size: 30px;
    @include s-menu;
  }

  .main_nav {
    background: s-color(main, background);
    position: relative;
    z-index: 100;
    width: var(--main-nav-width);
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
    padding: var(--main-nav-padding);
    @s-transition();
    @include lo-scrollbar;

    body.-search-large & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @media sm {
      overflow-y: visible;
      overflow-x: visible;

      &:focus-within {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    &:focus-within {
      translate: 0 0;

      .main_nav-toggle-inner {
        @include s-menu-active;
      }
    }

    .header {
      flex-grow: 0;
      flex-shrink: 0;
    }
    .search {
      flex-grow: 0;
      flex-shrink: 1;
    }

    @media sm {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      translate: -100% 0;
    }
  }

  .main_body {
    position: absolute;
    z-index: 50;
    flex-grow: 1;
    top: 0;
    left: var(--main-nav-width);
    right: 0;
    padding: var(--main-nav-padding);
    height: 100vh;
    overflow-y: auto;
    @s-transition;
    @include lo-scrollbar;

    @media sm {
      left: 0;
      padding: s-space(4);
    }
  }
  .main_body-inner {
    width: clamp(100px, calc(100% - 250px), 760px);

    @media xl {
      width: 100%;
    }
    @media xs {
      width: 100%;
    }
  }

  .main_footer {
    display: flex;
    align-items: center;
    border-block-start: 1px solid s-color(current, --alpha 0.2);
    padding-block-start: s-space(10);
    padding-block-end: s-space(10);

    @media xs {
      margin-inline: s-space(5);
    }
  }

  .main_footer-brand {
    flex-grow: 1;

    a {
      display: flex;
      align-items: center;
      gap: s-space(4);
    }

    svg {
      height: 40px;
      width: auto;

      [fill='black'] {
        fill: s-color(accent);
      }
    }
  }

  .main_footer-content {
  }

  .main_footer-title {
    @s-font (title);
    line-height: normal;
    text-transform: uppercase;
    font-size: s-size(6);
  }

  .main_footer-version {
    font: s-font(code);
    color: s-color(current);
    font-size: s-size(3);
    line-height: normal;
    pointer-events: none;
    @s-transition (fast);

    @media theme-half-life {
      color: s-color(accent, --lightness 70 --spin 15);
    }
  }

  .main_footer-license {
    opacity: 0.8;
    display: inline-block;
    margin-block-start: s-space(1);
  }

  .main_illustration {
    opacity: 0;
    translate: 20px 0;
    position: absolute;
    bottom: 0;
    right: s-space(2);
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    pointer-events: none;
    @s-transition;

    @media (max-width: 1600px) {
      width: 500px;
      height: 500px;
    }

    @media xl {
      display: none;
    }

    @media theme-oddworld {
      background-image: url('/blackbyte-oddworld-abe.webp');
      opacity: 1;
      translate: 0;
    }
    @media theme-half-life {
      background-image: url('/blackbyte-gordon-freeman.webp');
      opacity: 1;
      translate: 0;
    }
  }
}
