.main {
  position: absolute;
  top: s-space(30);
  left: s-space(30);
  right: s-space(30);
  bottom: s-space(30);
  padding: 1px;
  @s-radius;

  @media mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 1px solid s-color(current);
    @s-map-color (accent);
    @include lo-glow;
    @s-radius;
  }

  .main_inner {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .main_nav {
    flex-shrink: 0;
    flex-grow: 0;
    width: clamp(350px, 30%, 400px);
    display: flex;
    flex-direction: column;
    border-inline-end: 1px solid s-color(accent, border);
    @s-transition();

    @media mobile {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: 9999;
      background: s-color(main, background);
      translate: 100% 0;

      &:focus,
      &:focus-within {
        translate: 0 0;
      }
    }

    .header {
      flex-grow: 0;
      flex-shrink: 0;
    }
    .search {
      flex-grow: 0;
      flex-shrink: 1;
      overflow: hidden;
    }
  }

  .main_body {
    flex-grow: 1;
    overflow-y: auto;
    @include lo-scrollbar;

    @media mobile {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .main_body-inner {
    width: clamp(100px, 100%, 960px);

    @media mobile {
      width: 100%;
    }
  }
}
