@import './carpenterDaemon.bare.css';

.s-carpenter-daemon.-lnf {
  border: 3px solid s-color(accent);
  color: s-color(accent, foreground);
  @s-transition (fast);

  .s-carpenter-daemon_tools {
    background: s-color(accent);
    font-size: s-rem(12px);
  }

  .s-carpenter-daemon_tool {
    padding: s-space(sm);
    gap: s-space(xs);
    @s-transition (fast);

    &:hover {
      background: s-color(accent, hover);
    }
    &:active {
      background: s-color(accent, active);
    }
  }

  .s-carpenter-daemon_tool-label {
    font-weight: bold;
  }

  .s-carpenter-daemon_header {
    background: s-color(complementary);
    font-size: s-rem(12px);
  }
}
