@import './carpenterDaemon.bare.css';

.s-carpenter-daemon.-lnf {
  --s-carpenter-daemon-border-width: 3px;
  --s-carpenter-daemon-padding: s-space(md);
  --s-carpenter-daemon-offset: calc(s-space(md) * -1);
}

.s-carpenter-daemon.-lnf {
  border-width: var(--s-carpenter-daemon-border-width);
  border-color: s-color(main, background, --alpha 0.6);
  color: s-color(accent, foreground);
  font-size: s-rem(14px);
  @s-transition (fast);
  @s-radius;

  &:after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: s-color(main, background, --alpha 0.04);
    z-index: -1;
  }

  &:hover {
    /* opacity: 1; */
  }

  .s-carpenter-daemon_tools {
    background: s-color(main, background, --alpha 0.6);
    backdrop-filter: blur(var(--s-carpenter-frost-amount));
    @s-radius;
  }

  .s-carpenter-daemon_tool {
    padding: var(--s-carpenter-daemon-padding);
    gap: s-space(xs);
    @s-radius;
    @s-transition (fast);

    &:hover {
      background: s-color(accent, hover);
    }
    &:active {
      background: s-color(accent, active);
    }
  }

  .s-carpenter-daemon_tool-label {
    font-weight: bold;
  }

  .s-carpenter-daemon_header {
    background: s-color(main, background, --alpha 0.6);
    backdrop-filter: blur(var(--s-carpenter-frost-amount));
    color: s-color(main, text);
    box-shadow: var(--s-carpenter-depth);
    padding: var(--s-carpenter-daemon-padding);
    gap: s-space(sm);
    @s-radius;
  }

  .s-carpenter-daemon_title {
    font-weight: bold;
  }

  .s-carpenter-daemon_id {
    color: s-color(complementary);
    @s-font (code);
  }
}
