@import '../../components/daemon.css';

.s-carpenter-daemon {
  border: 3px solid red;
  position: absolute;
  z-index: 100;
  @s-transition (slow);

  .s-carpenter-daemon_tools {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background: red;
  }
}
