.s-carpenter-daemon {
  position: absolute;
  z-index: 100;
  /* pointer-events: none; */
  user-select: none;

  .s-carpenter-daemon_inner {
    width: 100%;
    height: 100%;
  }

  .s-carpenter-daemon_tools {
    display: flex;
    align-items: center;
    pointer-events: all;
    position: absolute;
    top: var(--s-carpenter-daemon-offset);
    right: var(--s-carpenter-daemon-offset);
    display: flex;
  }

  .s-carpenter-daemon_tool {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1;
  }

  .s-carpenter-daemon_header {
    display: flex;
    align-items: center;
    pointer-events: all;
    position: absolute;
    top: var(--s-carpenter-daemon-offset);
    left: var(--s-carpenter-daemon-offset);
    display: flex;
  }

  .s-carpenter-daemon_title {
  }

  .s-carpenter-daemon_id {
    cursor: pointer;
  }
}
